<!DOCTYPE html>
<html>
  <head>
    <title>DoggIe Slides</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag image_url('favicon.png') %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <script
      src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
      data-search-pseudo-elements
    ></script>
    <script>
      window.productIconUrl = "<%= image_url('icons.png') %>";
      window.bwLogoUrl = "<%= image_url('logo-bw.svg') %>";
      window.crLogoUrl = "<%= image_url('logo-cr.svg') %>";
      
      <% if current_user %>
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe %>
      <% end %>
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
